<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Office</title>
</head>
  
<style>
  body {
    margin: 0 0 0 0;
  }
  
  #background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #191413;
  }
  
  .pic {
    display: inline-block;
    margin: 2px 1px 2px 1px;
  }
</style>
  
<body>

  <video autoplay></video>
  <div id="background">
  </div>

<script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
<script>
  firebase.initializeApp({
    apiKey: "AIzaSyA1GrOBNfS-lQPOKWtdV3KGMa06v0kOe1I",
    authDomain: "virtualoffice-7562b.firebaseapp.com",
    databaseURL: "https://virtualoffice-7562b.firebaseio.com",
    projectId: "virtualoffice-7562b",
    storageBucket: "virtualoffice-7562b.appspot.com",
    messagingSenderId: "309101480991"
  })
  
  var video = document.querySelector('video')
  var user = uuid()
  var currentRoom = joinRoom()  
  var usersRef = firebase.database().ref('rooms/' + currentRoom + '/users')
  
  if (navigator.mediaDevices) {
    navigator.mediaDevices.getUserMedia({video: true}) 
      .then(stream => video.srcObject = stream) 
      .catch(error => document.body.textContent = 'Error accessing camera: ' + error.name)
  }
  
  sendCurrentPic()
  setInterval(() => sendCurrentPic(), 5000)
  
  window.onbeforeunload = () => {
    firebase.database().ref('rooms/' + currentRoom + '/users/' + user).remove()
    return "really?"
  }
  
  usersRef.on("child_added", data => { 
    console.log("added", data.val())
    addPic(data.val())
  })
  
  usersRef.on("child_removed", data => {
    console.log("removed", data.val())
    let img = document.getElementById(data.val().name)
    document.getElementById('background').removeChild(img)
  })
  
  usersRef.on("child_changed", data => {
    console.log("changed", data.val())
    if (!document.getElementById(data.val().name)) {
      addPic(data.val())
    }
    document.getElementById(data.val().name).src = data.val().pic
  })
  
  function addPic(user) {
    let img = document.createElement('img')
    img.setAttribute("id", user.name)
    img.setAttribute("class", "pic")
    img.src = user.pic
    document.getElementById('background').appendChild(img)
  }
  
  function uuid() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
  
  function sendCurrentPic() {
    firebase.database().ref('rooms/' + currentRoom + '/users/' + user).set({
      name: user,
      pic: takePicture(),
      time: firebase.database.ServerValue.TIMESTAMP
    })
  }
  
  function joinRoom() {
    let roomUrlPrefix = "#room/"
    if (window.location.hash && window.location.hash.startsWith(roomUrlPrefix)) {
      return window.location.hash.replace(roomUrlPrefix, "") 
    } 
    
    let roomName = uuid()
    window.location.hash = roomUrlPrefix + roomName
    return roomName
  }
  
  function takePicture() {
    canvas = document.createElement('canvas')
    canvas.width = video.offsetWidth
    canvas.height = video.offsetHeight
    canvas.getContext('2d').drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight)
    return canvas.toDataURL('image/jpeg')
  }
</script>
</body>
</html>