<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Office</title>
</head>
  
<style>
  .pic {
    display: inline-block;
    margin: 1px 1px 1px 1px;
    height: 250px;
    vertical-align: bottom;
    background-color: 
  }
</style>
  
<body style="background: #191413; margin: 0 0 0 0;">

  <video autoplay height="250" preload="auto" style="opacity: 0; position: absolute;"></video>
  <div id="background"></div>

<script>
  const video = document.querySelector('video')
  const currentRoom = joinRoom()  
  const username = getUsername()
  const user = username + "-" + uuid()
  
  switchOnWebcam()
  
  updateRoom()
  sendCurrentPic()
  setInterval(() => sendCurrentPic(), 5000)
  setInterval(() => updateRoom(), 3000)
  //setInterval(() => drawProgress(username), 1000)

  function switchOnWebcam() {
    if (navigator.mediaDevices) {
      navigator.mediaDevices.getUserMedia({video: true}) 
      .then(stream => video.srcObject = stream) 
      .catch(err => document.body.innerHTML = '<h2 style="color: white">Error accessing camera:<br>' + err.name + "<br>" + err.message + '</h2>')
    }
  }
  
  function updateRoom() {
    fetch('rooms/' + currentRoom).then(res => res.json()).then(room => {
      showPic(username, room.users[username]); // show own image first
      
      const images = document.getElementById('background').childNodes;
      images.forEach(image => {
        if (room.users[image.id]) {
          showPic(image.id, room.users[image.id].imageData)
          delete room.users[image.id]
        } else {
          image.outerHTML = ""; // remove element
        }
      })
      
      for(let user in room.users) {
        showPic(user, room.users[user].imageData)
      }
    });
  }
  
  function showPic(id, imageData) {
    let img = document.getElementById(id)
    if (!img) {
      img = document.createElement('img')
      img.setAttribute("id", id)
      img.setAttribute("class", "pic")
      document.getElementById('background').appendChild(img)
    }
    img.src = imageData
  }
  
  function uuid() {
    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
      var r = Math.random() * 16 |  0, v = c == 'x' ? r : (r & 0x3 | 0x8);
      return v.toString(16);
    });
  }
  
  function sendCurrentPic() {
    fetch('rooms/' + currentRoom + '/' + username, {
      method: 'put',
      body: JSON.stringify({ imageData: takePicture(username)}),
      headers: { 'Content-Type': 'application/json' },
    })
  }
  
  function joinRoom() {
    const roomUrlPrefix = "#room/";
    if (window.location.hash && window.location.hash.startsWith(roomUrlPrefix)) {
      return window.location.hash.replace(roomUrlPrefix, "");
    } 
    let roomName = prompt("Enter a name for your new room", uuid().substr(0, 13));
    roomName = roomName || joinRoom();
    window.location.hash = roomUrlPrefix + roomName;
    return roomName;
  }
  
  function getUsername() {
    let name = localStorage.getItem('username');
    if (name) return name;
    
    name = prompt("Whats your name?")
    console.log("entered username:", name)
    name = name || getUsername();
    localStorage.setItem('username', name);
    return name
  }
    
  function drawProgress(username) {
    canvas = document.createElement('canvas')
    canvas.width = video.offsetWidth
    canvas.height = video.offsetHeight
    context = canvas.getContext('2d')
    context.beginPath();
    context.strokeStyle = "green"
    context.moveTo(canvas.width - 1, 0);
    context.lineTo(canvas.width - 1, video.offsetHeight);
    context.stroke(); 
    document.getElementById(username).src = canvas.toDataURL('image/jpeg')
  }
  
  function takePicture(username) {
    canvas = document.createElement('canvas')
    canvas.width = video.offsetWidth
    canvas.height = video.offsetHeight
    context = canvas.getContext('2d')
    context.drawImage(video, 0, 0, video.offsetWidth, video.offsetHeight)
    context.font = "2em Arial"
    context.textBaseline = "hanging"
    context.shadowOffsetX = 0;
    context.shadowOffsetY = 0;
    context.shadowColor = "rgba(255,255,255,0.5)";
    context.shadowBlur = 6;
    context.fillText(username, 5, 5)
    const result = canvas.toDataURL('image/jpeg')
    if (result.length < 10) {
      throw "Camera did not provide image"
    }
    return result;
  }
</script>
</body>
</html>