<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Office</title>
</head>
  
<style>
  .pic {
    display: inline-block;
    margin: 1px 1px 1px 1px;
    height: 250px;
    vertical-align: bottom;
    background-color: black;
  }

  [v-cloak] {display: none}
  .hide { display: none;}
</style>
  
<body style="background: #191413; color: white; margin: 0 0 0 0;">
  <div id="app" v-cloak>
    <div class="ml-2 my-1">
      {{room}}      
      <button @click="showChat=!showChat" title="toggle chat" class="ml-2 p-1">🗩</button>
    </div>

    <div class="flex">
        <div class="flex-1 bg-gray-100" :class="{hide: !showChat}">
          <div class=" h-64 overflow-auto p-2 text-black" id="chat-messages">
            <div v-for="entry in chat" :key="entry.createdAt" :title="entry.createdAt" class="mt-1">
              <img :src="pictureForUser(entry.authorName)" class="inline h-8">
              <span :style="'color:' + colorFromString(entry.authorName)">{{entry.authorName}}:</span> 
              {{entry.message}}
            </div>
          </div>
          <div class="flex">
            <input v-model="currentMessage" @keyup.enter="postMessage" placeholder="type your message here..." class="w-full p-2 text-black">
            <button @click="postMessage" title="send message" class="bg-white text-2xl">✉</button>
          </div>
        </div>
    </div>
    
    <div id="background"></div>
    
  </div>
  <video autoplay height="250" preload="auto" style="opacity: 0; position: absolute; height:250px;"></video>
<link href="https://unpkg.com/tailwindcss@^1.2/dist/tailwind.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: {
      room: "",
      username: "",
      videoElement: document.querySelector('video'),
      currentMessage: "",
      chat: [],
      showChat: true,
    },
    
    mounted: function() {
      this.switchOnWebcam();
      this.room = this.joinRoom();
      this.username = this.getUsername();
      
      this.updateRoom();
      this.sendCurrentPic();
      setInterval(() => this.sendCurrentPic(), 5000)
      setInterval(() => this.updateRoom(), 3000)
    },
    
    methods: {
      
      postMessage: function() {
        if (!this.currentMessage.trim()) return;
        fetch('rooms/' + this.room + '/'+ this.username + '/chat', {
          method: 'put',
          headers: { 'Content-Type': 'text/plain; charset=UTF-8' },
          body: this.currentMessage,
        }).then(res => res.json()).then(chat => {
            this.updateChat(chat);
            this.currentMessage = ""
        }) 
      },

      updateChat: function(newChat) {        
        this.chat = newChat;   
        this.$nextTick(() => {
            const chatElement = this.$el.querySelector("#chat-messages");
            chatElement.scrollTop = chatElement.scrollHeight;
        }) 
      },
      
      getUsername: function() {
        let name = localStorage.getItem('username');
        if (name) return name;

        name = prompt("Whats your name?")
        console.log("entered username:", name)
        name = name || getUsername();
        localStorage.setItem('username', name);
        return name
      },

      colorFromString: function(str) {
        let hash = 0;
        for (var i = 0; i < str.length; i++) {
            hash = str.charCodeAt(i) + ((hash << 5) - hash);
        }
        return "hsl(" + (hash % 360) + ",100%,30%)"
      },
      
      joinRoom: function () {
        return "testroom"
        
        const roomUrlPrefix = "#room/";
        if (window.location.hash && window.location.hash.startsWith(roomUrlPrefix)) {
          return window.location.hash.replace(roomUrlPrefix, "");
        } 
        let roomName = prompt("Enter a name for your new room", this.uuid().substr(0, 13));
        roomName = roomName || joinRoom();
        window.location.hash = roomUrlPrefix + roomName;
        return roomName;
      },
      
      switchOnWebcam: function() {
        if (navigator.mediaDevices) {
          navigator.mediaDevices.getUserMedia({video: true}) 
          .then(stream => this.videoElement.srcObject = stream) 
          .catch(err => document.body.innerHTML = '<h2 style="color: white">Error accessing camera:<br>' + err.name + "<br>" + err.message + '</h2>')
        }
      },
      
      updateRoom: function() {
        fetch('rooms/' + this.room).then(res => res.json()).then(room => {
          this.updateChat(room.chat);

          this.showPic(this.username, room.users[this.username]); // show own image first

          const images = document.getElementById('background').childNodes;
          images.forEach(image => {
            if (room.users[image.id]) {
              this.showPic(image.id, room.users[image.id].imageData)
              delete room.users[image.id]
            } else {
              image.outerHTML = ""; // remove element
            }
          })

          for(let user in room.users) {
            this.showPic(user, room.users[user].imageData)
          }
        });
      },
      
      pictureForUser: function(username) {
        const img = this.$el.querySelector("#" + username)
        return img.src;
      },

     showPic: function(id, imageData) {
        let img = document.getElementById(id)
        if (!img) {
          img = document.createElement('img')
          img.setAttribute("id", id)
          img.setAttribute("class", "pic")
          document.getElementById('background').appendChild(img)
        }
        img.src = imageData
      },

     uuid: function() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          var r = Math.random() * 16 |  0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      },

     sendCurrentPic: function() {
        fetch('rooms/' + this.room + '/' + this.username, {
          method: 'put',
          body: JSON.stringify({ imageData: this.takePicture(this.username)}),
          headers: { 'Content-Type': 'application/json' },
        })
      },

     drawProgress: function(username) {
        canvas = document.createElement('canvas')
        canvas.width = this.videoElement.offsetWidth
        canvas.height = this.videoElement.offsetHeight
        context = canvas.getContext('2d')
        context.beginPath();
        context.strokeStyle = "green"
        context.moveTo(canvas.width - 1, 0);
        context.lineTo(canvas.width - 1, this.videoElement.offsetHeight);
        context.stroke(); 
        document.getElementById(username).src = canvas.toDataURL('image/jpeg')
      },
      
     takePicture: function(username) {
        canvas = document.createElement('canvas')
        canvas.width = this.videoElement.offsetWidth
        canvas.height = this.videoElement.offsetHeight
        context = canvas.getContext('2d')
        context.drawImage(this.videoElement, 0, 0, this.videoElement.offsetWidth, this.videoElement.offsetHeight)
        context.font = "2em Arial"
        context.textBaseline = "hanging"
        context.shadowOffsetX = 0;
        context.shadowOffsetY = 0;
        context.shadowColor = "rgba(255,255,255,0.5)";
        context.shadowBlur = 6;
        context.fillText(username, 5, 5)
        const result = canvas.toDataURL('image/jpeg')
        if (result.length < 10) {
          throw "Camera did not provide image"
        }
        return result;
      },
      
    }
  })  
</script>
</body>
</html>